@charset"utf-8";
/* CSS Document */
body{
	background-color:#f6f5f5;
	margin: 0px;
	padding: 0px;
}
ul{
	list-style: none;
}
a{
	text-decoration:none;
}
section{
	widows: 100%;
	height: 95vh;
	background-size: cover;
	position: relative;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: #gray;
	box-shadow: 2px 2px 12px rgba(0,0,0.2);
	padding: 0px 5%;
}
nav ul{
	display: flex;
}
nav ul li a{
	margin: 30px;
	font-family: myriad pro regular;
	color: #505050;
	font-size: 15px;
	font-weight: 700;
}
.logo{
	font-family: RoadTest;
	color: #000000;
	font-size: 22px;
}
.active{
	font-weight: bold;
	color: #2d2a2a;
}
.text{
	margin: 10px;
	padding: 0px;
	background: #f6f5f5;
	border-radius: 5px;
	background: #000000;
}
.text h1{
	font-size: 60px;
	line-height: 1.4;
	letter-spacing: 0.5rem;
	text-align: center; 
	color: #FFFFFF;
	margin: 50px;
}
.team{
	margin: 10px;
	padding: 10px;
	background: #FFFFFF;
	border-radius: 5px;
}

.profile-container{
	width: 80%;
	height: 330px;
	 background-color:#757575  ;
	 border-radius: 20px;
	 box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	 display: flex;
	 margin: -0% auto 20px auto;
	 position: relative;
	 justify-content: space-evenly;
	 align-items: center;
}

.profile-container img{
	height: 250px;
	width: 250px;
	
}
.profile-text{
	width: 550px;
}
.profile-text p:nth-child(1){
	color: #FFFFFF;
	font-family: myriad pro;
	font-weight: bold;
	font-size: 33px;
	line-height: 0px;
}
.profile-text p:nth-child(2){
	color: #FFFFFF;
	font-size: 20px;
	font-family: myriad pro;
	font-weight: bold;
	line-height: 5px;
}
.profile-text p:nth-child(3){
	color: #FFFFFF;
	font-family: calibri;
	font-size: 16px;
}
